/*
 * CSS styleshet for the "Barents Sea" theme.
 *
 * Author: Sindre Mehus
 */

@import "hd.css";

@import "playericonsBlue.css";

@import url('//fonts.googleapis.com/css?family=Bowlby+One+SC');

@import "madsonic-barents/jquery-ui-1.10.2.custom.css";

@import "jquery.mCustomScrollbar.SilverWhite.css";

body {
    margin:0.75em;
    font-size: 8.5pt;
}

.detail, .albumComment, .log {
    font-size: 8pt;
}

input, select {
    font-size: 9pt;
}

/* Font 1 */
body, h2, form, label, table, a {
    font-family: verdana, arial, sans-serif;
}

/* Font 2 */
h1, h1 a, input, select {
    font-family: arial, sans-serif;
}

h1, h2, th {
    font-weight:bold;
}

h1, .mainframe h1 a{
	font-size: 1.3rem;
	font-family: 'Bowlby One SC', Arial, serif; font-weight: 400;
    text-shadow: 0.0em 0.0em 0.15em #FFFFFF;	
	margin: 15px 0 0;
    color: #FFFFFF;
}

.ruleTableHeader, .ruleTableCell {
border: 1px solid black;
}

.logo {
	padding-right:0.5em;
}

.topframe .logo a img{
	width:165px;
}

span.off {
    background: #FFF !important;
	border: solid 1px #ffffff;
}

span.on {
    background: #A8D4FF !important;
	border: solid 1px white;
}

span.off:hover {
    background: #A8D4FF !important;
	border: solid 1px #999;
	}