/*
 * CSS styleshet for the "Back In Black" theme.
 *
 * Author: Sindre Mehus
 */

@import "midnight.css";

@import "playericonsBlack.css";

@import "jquery.mCustomScrollbarSilverWhite.css";

/* The primary background color. */
.bgcolor1 {
    background-color: #333333
}

/* The secondary background color. */
.bgcolor2, .ruleTableHeader, .log  {
    background-color: black
}

input{
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #444444;
    border-radius: 4px;
    color: #333333 !important;
    font-size: 9pt;	
    padding: 3px 0;
}
input[type=button],input[type=submit]{
	color: #dfdfdf !important;
	text-shadow: 1px 1px 1px #111;
	padding: 3px 10px;
	font-size:1.2em;
}
input[type=button]{
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #4c4c4c 50%, #3d3d3d 53%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(50%,#4c4c4c), color-stop(53%,#3d3d3d), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* W3C */
	border: 1px solid #111;
}
input[type=submit]{
	background: #3567a0; /* Old browsers */
	background: -moz-linear-gradient(top, #3567a0 0%, #1c5396 50%, #1f4c87 53%, #0b3c74 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3567a0), color-stop(50%,#1c5396), color-stop(53%,#1f4c87), color-stop(100%,#0b3c74)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* IE10+ */
	background: linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* W3C */
	border: 1px solid #06203e;
}