/*
 * CSS styleshet Playericons theme.
 *
 */

/* Player images */

a#rewind1      {background-image:url("../icons/buttonPlayer/black/rewind1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#forward1    {background-image:url("../icons/buttonPlayer/black/forward1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#clear1        {background-image:url("../icons/buttonPlayer/black/clear1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#shuffle      {background-image:url("../icons/buttonPlayer/black/shuffle.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#repeat_on   {background-image:url("../icons/buttonPlayer/black/repeat_on.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#repeat_off {background-image:url("../icons/buttonPlayer/black/repeat_off.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#pandora_on   {background-image:url("../icons/buttonPlayer/black/pandora_on.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#pandora_off {background-image:url("../icons/buttonPlayer/black/pandora_off.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#undo            {background-image:url("../icons/buttonPlayer/black/undo.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#settings1   {background-image:url("../icons/buttonPlayer/black/settings1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
