/*
 * CSS styleshet for the "Sonic White" theme.
 *
 * Author: Thomas Bruce Dyrud (thomasbrucedyrud[at]gmail.com)
 *
 */

@import "sonic.css";

@import "playericonsSilver.css";

@import "jquery.mCustomScrollbar.Black.css";

/* The primary background colour. */
.bgcolor1 {
    background-color: #FFFFFF;
}

/* The secondary background colour, light blue, primary theme colour. */
.bgcolor2, .ruleTableHeader, .log {
    background-color: #FFFFFF;
    color: #696969;
}

/* Background colour for selected header, log etc. */
.headerSelected {
    color: #696969;
    background-color: #FFFFFF;
    border: 1px solid #696969;
}


/* The primary foreground color (black). */
body {
    color: #696969;
    background-color: #DDDDDD;
}

/* The secondary foreground colour used for h1, details etc. */
h1, .detail, .albumComment {
    color: #696969;
}

/* Foreground colour used for h2, bold and tr. */
h2, b, tr {
    color: #696969;
}

/* Main frame image & colour */
.mainframe {
    background-color: #FFFFFF;
}

/* Back image */
.back {
	font-size: 8pt;
    background-image:url( "../icons/sonic_white/back.png" );
}

/* Forward image */
.forward, .forwardright {
	font-size: 8pt;
    background-image:url( "../icons/sonic_white/forward.png" );
}


/* Link colour */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #333333;
}

/* Link hover colour */
a:hover, a:hover * {
    color: #696969;
}

/* Colour for warning messages. */
.warning {
    color: #e7238b;
}

img.starSong {
    margin-right: 3px;
}
label, p {
	color: #696969;
}
.ruleTableCellDB {
    border: 1px solid black;
    white-space: nowrap;
    font-size: 7pt;
    margin: 1px;
    padding: 1px;
}
